#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app h1 {
  color: var(--primary-color);
  margin-bottom: 4rem;
}

#app h2 {
  margin-bottom: 18px;
}

:where(h2, p){
  align-self: flex-start;
}

#app p {
  color: #7C7C8A;;
}