#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app h1 {
  color: var(--primary-color);
  margin-bottom: 4rem;
}

#app form {
  display: flex;
  margin-bottom: 4rem;
}

#app form input {
  width: 32rem;
  height: 3rem;
  border: none;
  padding: 1rem 12px;
  background-color: var(--background-input);
  font-size: 1rem;
}

#app form button {
  width: 3rem;
  height: 3rem;
  margin-left: 12px;
  background-color: var(--primary-color);
  border: none;
}

#app form button img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#app h2 {
  margin-bottom: 18px;
}

:where(h2, p){
  align-self: flex-start;
}

#app p {
  color: #7C7C8A;;
}